<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<!--header-->
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{url_for('allCategories')}}">Catalog App</a></h5>
			<nav class="my-2 my-md-0 mr-md-3">
			{%if 'username' not in session %}
				<a class="btn btn-outline-primary" href="{{url_for('showLogin')}}">Login</a>
			{% else %}
				<a class="btn btn-outline-primary" href="{{url_for('gdisconnect')}}">Logout</a>
			{% endif %}
			</nav>
		</div>


		<main role="main">
			<div class="container">
				<h2 class="display-4">Categories</h2>
				<div class="row my-3">
					{% for i in categories %}
						<a href="{{url_for('categoryItems', category_id=i.id)}}" class="badge badge-light mx-2"><h6>{{i.name}}</h6></a>
					{% endfor %}
				</div>
				<div class="row">
					<h3 class="col">{{itemCategory.name}} Items</h3>
				</div>
				<div class="row">
						{% for i in items %}
						<a href="{{url_for('showItem', category_id=i.category_id, item_id=i.id)}}" class="col-md-4 col-lg-3 col-xl-2 mx-xl-auto my-2 text-center px-1 py-sm-4 py-md-5 border badge badge-primary"><h5>{{i.title}}</h5></a>
						{% endfor %}
				</div>
			</div>
		</main>
	</body>

</html>